
<router-outlet></router-outlet>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "triangle-skew-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<!-- <input type="text" value="{{name}}" (change)="handleInput($event)"> --> 
<!-- <input type="text" [(ngModel)]="name" (ngModelChange)="HandleInputChange($event)" >
<input type="email"  [(ngModel)]="email"    >

<input type="number"  [(ngModel)]="salary">

<img [src]="path">

<h2>My name is {{name}}</h2>
<h2>My Email is {{email}}</h2>
<h2>My salary is {{salary}}</h2>
<button (click)="ClearData()">Clear All Data </button> -->

<!-- 
<table [ngClass]="'table'">
    <tr>
    <th>ID</th>
    <th>Course Name</th>
    <th>Price</th>
</tr>

<tr *ngFor="let c of courses"  [ngStyle]="{'background-color':c.coursename=='Angular'?'green':'red'}">
    <td>{{c.id}}</td>
    <td>{{c.coursename}}</td>
    <td>{{c.price}}</td>
</tr>

</table> -->


<!-- 
<table class="table" >
    <tr>
   <th>Course Name</th>

</tr>

<tr *ngFor="let c of courses2">

    <td>{{c}}</td>
</tr>

</table> -->

<!-- <button (click)="ToggleFun()">Toggle</button>
<span *ngIf="isUpdated">  This message </span> -->


